*{
  margin: 0px;
  padding: 0px;
}
.shoppingCart{
  position: absolute;
  left: 90%;
  top: 15vh;
}
.hiddenCart{
    display: none;
    position: relative;
    left: 55%;
  }
.showCart{
    display: block;
    position: relative;
    left: 55%;
    bottom: 205vh;
}
.CartImg{
  width: 45px;
}
  #taxSpan{
    font-style: italic;
    color: gray;
    font-size: 10px;
  }
  #checkoutBtn{
    width: 10px;
    font-size: 8px;
  }