*{
  padding: 0px;
  margin: 0px;
}

.adminFormCard{
  background-color: aliceblue;
}

.adminStoreItemCard{
  border: solid black 5px;
  width: fit-content;
  color: blue;
  position: relative;
  margin: 1%;
  left: 1%;
  top: 10px;
  border-radius: 5%;
  padding: 1% ;
  display: inline-block;
  background-color: aliceblue;
}
img{
  width: 18rem;
  height: 24rem;
}